.boton-modal {
  padding: 5px;
  display: inline-block;
}

#btn-modal {
  display: none;
}

.modal-fade-elim {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(144, 148, 150, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#btn-modal:checked ~ .modal-fade-elim {
  display: flex;
}

.modal-contenedor-elim {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-contenedor-elim header {
  text-align: center;
  margin-bottom: 15px;
  font-size: 20px;
  user-select: none;
}

.btn-cerrar {
  position: absolute;
  top: 15px;
  right: 10px;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.modal-contenedor-elim .btn-cerrar img {
  width: 30px;
  height: 30px;
}

.modal-contenedor-elim .btn-cerrar:hover {
  scale: 1.2;
}

.modal-contenedor-elim .btn-cerrar:active {
  scale: 0.97;
}

.modal-contenedor-elim p {
  padding: 15px 0px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  user-select: none;
  text-align: center;
}

.btn-eliminar {
  margin: auto;
  margin-top: 15px;
  display: inline;
  border: 0;
  padding: 7px 10px;
  background-color: rgb(255, 0, 0);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 300ms ease;
  font-size: 1em;
  font-weight: bold;
}

.btn-eliminar:hover {
  background-color: rgb(197, 1, 1);
}

@media screen and (max-width: 800px) {
  .modal-contenedor-elim {
    width: 90%;
  }
}
